---
import { Image } from 'astro:assets';
import Icon from '~/public/icon.png';
---

<header class="flex justify-center sm:justify-start w-full p-4">
  <nav>
    <a class="font-semibold font-work flex gap-2" href="/">
      <Image src={Icon} alt="Logo" class="w-6 h-6 rounded-md overflow-hidden" />
      Pujo Atlas
    </a>
  </nav>
</header>
