---
import { Image } from 'astro:assets';
import Icon from '~/public/icon.png';
import { MobileHeaders } from './Navbar';

const currentPath = Astro.url.pathname;
---

<header class="p-3 py-auto lg:h-[7.5vh] flex lg:ml-16">
  <nav class="w-full flex flex-row justify-between">
    <a class="font-semibold font-work flex items-center gap-2" href="/">
      <Image src={Icon} alt="Logo" class="w-5 lg:w-6 h-5 lg:h-6 rounded-md overflow-hidden" />
      Pujo Atlas
    </a>
    <div class="flex lg:hidden">
      <MobileHeaders path={currentPath} />
    </div>
  </nav>
</header>
