---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Not Found">
  <main class="flex-1 flex flex-col items-center justify-center gap-4">
    <h1 class="text-9xl font-bold">404.</h1>
    <p class="font-work">Uh oh! Looks like you lost your way.</p>
    <a class="italic flex py-1 px-20 rounded-full outline outline-1" href="/">
      Go back to homepage -&gt;
    </a>
  </main>
</Layout>
