---
import Layout from '@/layouts/Layout.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { cn, getCurrentLanguage } from '@/libs/utils';

const pathname = Astro.url.pathname;
const currentLang = getCurrentLanguage(pathname);
const homePagePath = getRelativeLocaleUrl(currentLang);
---

<Layout title="404 | Page Not Found">
  <main
    class={cn(
      'flex-1 flex flex-col items-center justify-center gap-4',
      'bg-primary-background p-16',
      'rounded-l-xl shadow-l-xl',
    )}
  >
    <h1 class="text-9xl font-bold">404.</h1>
    <p class="font-work">Uh oh! Looks like you lost your way.</p>
    <a class={cn('italic flex py-1 px-20', 'rounded-full outline outline-1')} href={homePagePath}>
      Go back to homepage -&gt;
    </a>
  </main>
</Layout>
