---
import '@fontsource-variable/inter/wght.css';
import '@fontsource-variable/work-sans';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Uh Oh! You&apos;re lost</title>
  </head>
  <body class="bg-[#ffedc9] w-screen h-screen flex flex-col items-center justify-center gap-4">
    <h1 class="text-9xl font-bold">404.</h1>
    <p class="font-work">Uh oh! You look lost.</p>
    <a class="italic flex py-1 px-20 rounded-full outline outline-1" href="/"
      >Go back to homepage -&gt;</a
    >
  </body>
</html>
