---
import Layout from '@/layouts/LandingPageLayout.astro';
import { cn } from '@/libs/utils';
---

<Layout title="404 | Page Not Found">
  <main
    class={cn(
      'flex-1 flex flex-col items-center justify-center gap-2 lg:gap-4',
      'bg-primary-background p-2 lg:p-16',
      'lg:rounded-l-xl lg:shadow-l-xl',
    )}
  >
    <h1 class="text-8xl lg:text-9xl font-bold text-center">404!</h1>
    <p class="font-work text-center">Uh oh! Looks like you lost your way.</p>
    <a
      class={cn(
        'italic flex py-1 lg:px-20 px-6 text-center',
        'rounded-full outline outline-1',
        'bg-orange-200 hover:bg-orange-300',
      )}
      href="/"
    >
      Go back to homepage -&gt;
    </a>
  </main>
</Layout>
