---
import { Carousel } from '@/components/Carousel';
import Layout from '@/layouts/LandingPageLayout.astro';
import { cn } from '@/libs/utils';
import { FaChevronDown } from 'react-icons/fa';
import { IoMdInformationCircle } from 'react-icons/io';
---

<Layout title="Pujo Atlas">
  <main
    class={cn(
      'flex-1 flex flex-col gap-3 lg:gap-6 gap-y-3 lg:gap-y-2 !overflow-x-clip',
      'bg-primary-background p-3 lg:p-4 lg:py-12 lg:px-20',
      'lg:rounded-l-xl lg:shadow-l-xl overflow-y-auto scroll-smooth',
    )}
  >
    <h1 class="font-work font-semibold text-[55px] lg:text-6xl pt-0 text-center lg:text-left">
      Pujo Atlas
    </h1>
    <p
      class="font-work text-center lg:text-left leading-tight lg:leading-normal pt-0 lg:pt-2 -mt-2 lg:mt-0"
    >
      Your pandal hopping guide&nbsp;<br class="block lg:hidden" />to the sweetest part of India
    </p>
    <!-- buttons on mobile screens -->
    <span
      class="flex flex-col gap-y-4 justify-center items-center lg:justify-start lg:items-start pt-2 lg:pt-0"
    >
      <span class="font-sans flex gap-x-3">
        <a class="rounded-md bg-black lg:hidden block" href="#features">
          <span
            class="flex -translate-x-1 -translate-y-1.5 rounded-md border-2 border-black bg-rose-300 p-2 text-base
          active:translate-x-0 active:translate-y-0
          transition-all font-semibold"
          >
            Features&nbsp;<span class="animate-arrow-up-down">&darr;</span>
          </span>
        </a>
        <a class="rounded-md bg-black lg:hidden block" href="/app">
          <span
            class="flex -translate-x-1 -translate-y-1.5 rounded-md border-2 border-black bg-amber-500 p-2 text-base
          active:translate-x-0 active:translate-y-0
          transition-all font-semibold"
          >
            Get Started&nbsp;<span class="animate-arrow-left-right">-&gt;</span>
          </span>
        </a>
      </span>
    </span>
    <!-- info on large screens -->
    <span
      class={cn(
        'cursor-pointer mx-0 mt-0 mb-4 p-2 relative',
        'text-base font-sans font-semibold',
        'hidden lg:flex flex-row justify-start items-center w-fit',
        'shadow-[2px_5px_1px_0px] shadow-stone-950',
        'rounded-md border-2 border-black bg-rose-300 hover:bg-red-300',
      )}
      ><span class="flex">
        <IoMdInformationCircle size="24" />&nbsp;&nbsp;Open on mobile to experience the web app!
      </span>
      <span id="notif-ping" class="absolute -top-1 -right-1 flex h-3 w-3">
        <span
          class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-90"
        ></span>
        <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500"></span>
      </span>
    </span>
    <!-- carousel -->
    <div>
      <h2
        class="font-work font-semibold text-3xl md:text-4xl lg:text-4xl pt-2 lg:pt-0 pb-0 lg:pb-2 text-center lg:text-left"
      >
        Trending Pandals
      </h2>
      <div
        id="carousel-placeholder"
        class="mx-0.5 p-2 flex flex-col gap-y-3 rounded-2xl h-[calc(100vh-22.5rem)] lg:h-[calc(100vh-35rem)] bg-secondary-background mt-2"
      >
        <div class="rounded-2xl h-full bg-primary-background animate-pulse"></div>
        <div class="rounded-2xl h-10 bg-primary-background animate-pulse"></div>
      </div>
      <Carousel client:load client:only="react" />
      <a href="#features" aria-label="scroll to features section" class="hidden lg:block">
        <FaChevronDown className="h-8 lg:h-12 w-8 mx-auto motion-safe:animate-bounce" />
      </a>
    </div>
    <!-- feature cards -->
    <span id="features"></span>
    <section
      class={cn(
        'w-full h-full p-8 mt-0 lg:mt-auto text-amber-950 cursor-pointer',
        'bg-primary md:hover:bg-[#ffe5b0]',
        'shadow-[2px_5px_1px_0px] shadow-amber-950',
        'border-4 border-amber-950 rounded-lg',
        'transition-all duration-300 ease-in-out transform-gpu',
        'lg:hover:scale-[1.01] lg:hover:shadow-[2px_6px_2px_0px]',
        '!font-sans flex flex-col gap-6 tracking-tight',
      )}
    >
      <h2
        class={cn(
          'font-bold text-2xl md:text-3xl text-wrap',
          'bg-orange-300 rounded-md px-1 py-0.5 w-fit',
        )}
      >
        What is Pujo Atlas?
      </h2>
      <p class="leading-snug text-lg lg:text-xl lg:leading-normal">
        <b>Pujo Atlas</b>&nbsp;is your ultimate guide for Pandal Hopping during Durga Puja in
        Kolkata! This <b>open-source</b> project aims to provide a comprehensive and user-friendly website
        that lists all the Durga Pujas happening around Kolkata and offers a host of features to make
        your pandal hopping experience seamless and enjoyable.
      </p>
    </section>

    <section class="flex flex-col lg:flex-row gap-4">
      <div
        class={cn(
          'w-full h-full p-8 text-amber-950 cursor-pointer',
          'bg-primary lg:hover:bg-[#ffe5b0]',
          'shadow-[2px_5px_1px_0px] shadow-amber-950',
          'border-4 border-amber-950 rounded-lg',
          'transition-all duration-300 ease-in-out transform-gpu',
          'lg:hover:scale-[1.01] lg:hover:shadow-[2px_6px_2px_0px]',
          'font-work flex flex-col gap-6 tracking-tight',
        )}
      >
        <h2
          class={cn(
            'font-bold text-2xl md:text-3xl text-wrap',
            'bg-orange-300 rounded-md px-1 py-0.5 w-fit !font-sans',
          )}
        >
          Features
        </h2>
        <ul
          class="text-lg lg:text-xl leading-snug lg:leading-normal flex flex-col gap-3 !font-sans"
        >
          <li>
            <span class={cn('rounded-md px-[2px]', 'py-0.5 items-center gap-1')}>
              1. All <b>local Pujas</b> are now integrated with our <b>interactive map</b>. Discover
              the most efficient routes and navigate your own Kolkata like Columbus
            </span>
            <li>
              <span class={cn('rounded-md px-[2px]', 'py-0.5 items-center gap-1')}>
                2. Lost in social media chaos and missing the <b>Puja hot spots</b>? Our
                <b>&quot;Real-Time&quot;</b> update is your magic wand. Discover the Pandals that are
                lighting up the scene right now. Say goodbye to FOMO!
              </span>
            </li>
            <li>
              <span class={cn('rounded-md px-[2px]', 'py-0.5 items-center gap-1')}>
                3. In your devotion to Maa Durga, our <b>&quot;Emergency Helplines&quot;</b> are just
                a touch away. Feeling under the weather or misplaced your wallet? With a single click,
                access <b>police</b>, <b>hospitals</b>, and <b>ambulance</b> numbers—all set for action!
              </span>
            </li>
            <li>
              <span class={cn('rounded-md px-[2px]', 'py-0.5 items-center gap-1')}>
                4. In a rush for the final train? Or maybe you&rsquo;re keen to discover the pujos
                beyond Kolkata this year? Fear not, <b>metro</b> and <b>local train</b> information are
                one click away from our platform.
              </span>
            </li>
            <li>
              <span class={cn('rounded-md px-[2px]', 'py-0.5 items-center gap-1')}>
                5. Soar above Durga Puja with our <b>Interactive Maps</b>. Explore vibrant <b
                  >Tala</b
                >,
                <b>Tollygunge&rsquo;s</b> culture, <b>Kankurgachi&rsquo;s</b> history, and <b
                  >Kaikhali&rsquo;s</b
                >
                modernity—all from home!
              </span>
            </li>
            <li>
              <span class={cn('rounded-md px-[2px]', 'py-0.5 items-center gap-1')}>
                6. Wave <b>farewell</b> to festive confusion! Our clever guide steers you through Kolkata&rsquo;s
                bustling roads in a single night.</span
              >
            </li>
            <li>
              <span class={cn('rounded-md px-[2px]', 'py-0.5 items-center gap-1')}>
                7. Simply enter the name of the <b>Pandal</b>, and a <b>wealth</b> of information will
                be at you fingertips. Rely on our thorough analysis of each location&rsquo;s data and
                the map links to guide you to your beloved Pandal
              </span>
            </li>
          </li>
          <!-- <div
        class={cn(
          'w-full h-full p-8 mt-0 lg:mt-auto text-amber-950 cursor-pointer',
          'bg-primary md:hover:bg-[#ffe5b0]',
          'shadow-[2px_5px_1px_0px] shadow-amber-950',
          'border-4 border-amber-950 rounded-lg',
          'transition-all duration-300 ease-in-out transform-gpu',
          'lg:hover:scale-[1.01] lg:hover:shadow-[2px_6px_2px_0px]',
          'font-work flex flex-col gap-6 tracking-tight',
        )}
      >
        <h2
          class={cn(
            'font-bold text-2xl md:text-3xl text-wrap',
            'bg-orange-300 rounded-md px-1 py-0.5 w-fit',
          )}
        >
          Map Integration
        </h2>
        <ul class="text-lg lg:text-xl leading-snug lg:leading-normal flex flex-col gap-3">
          <li>
            <span
              class={cn(
                'font-semibold bg-red-300 rounded-md px-[2px]',
                'py-0.5 inline-flex items-center gap-1 whitespace-nowrap',
              )}
            >
              <FaAsterisk className="text-base" />
              Interactive Map:&nbsp;
            </span>
            View the locations of all listed pandals on an interactive map.
          </li>
          <li>
            <span
              class={cn(
                'font-semibold bg-red-300 rounded-md px-[2px]',
                'py-0.5 inline-flex items-center gap-1 whitespace-nowrap',
              )}
            >
              <FaAsterisk className="text-base" />
              Navigation:&nbsp;</span
            > Get directions and the best routes using public transport or walking.
          </li>
          <li>
            <span
              class={cn(
                'font-semibold bg-red-300 rounded-md px-[2px]',
                'py-0.5 inline-flex items-center gap-1 whitespace-nowrap',
              )}
            >
              <FaAsterisk className="text-base" />
              Real-time Traffic Updates:&nbsp;</span
            > Avoid traffic and enjoy a smoother pandal hopping experience.
          </li>
        </ul>
      </div>
    </section>
    <section class="flex flex-col lg:flex-row gap-4">
      <div
        class={cn(
          'w-full h-full p-8 mt-0 lg:mt-auto text-amber-950 cursor-pointer',
          'bg-primary md:hover:bg-[#ffe5b0]',
          'shadow-[2px_5px_1px_0px] shadow-amber-950',
          'border-4 border-amber-950 rounded-lg',
          'transition-all duration-300 ease-in-out transform-gpu',
          'lg:hover:scale-[1.01] lg:hover:shadow-[2px_6px_2px_0px]',
          'font-work flex flex-col gap-6 tracking-tight',
        )}
      >
        <h2
          class={cn(
            'font-bold text-2xl md:text-3xl text-wrap',
            'bg-orange-300 rounded-md px-1 py-0.5 w-fit',
          )}
        >
          Medical Help
        </h2>
        <ul class="text-lg lg:text-xl leading-snug lg:leading-normal flex flex-col gap-3">
          <li>
            <span
              class={cn(
                'font-semibold bg-red-300 rounded-md px-[2px]',
                'py-0.5 inline-flex items-center gap-1 whitespace-nowrap',
              )}
            >
              <FaAsterisk className="text-base" />
              Nearby Hospitals and Clinics:&nbsp;
            </span>
            Find locations and contact details of nearby healthcare facilities.
          </li>
          <li>
            <span
              class={cn(
                'font-semibold bg-red-300 rounded-md px-[2px]',
                'py-0.5 inline-flex items-center gap-1 whitespace-nowrap',
              )}
            >
              <FaAsterisk className="text-base" />
              First Aid Tips:&nbsp;
            </span>
            Access basic first aid tips for common health issues during pandal hopping.
          </li>
        </ul>
      </div>
      <div
        class={cn(
          'w-full h-full p-8 mt-0 lg:mt-auto text-amber-950 cursor-pointer',
          'bg-primary md:hover:bg-[#ffe5b0]',
          'shadow-[2px_5px_1px_0px] shadow-amber-950',
          'border-4 border-amber-950 rounded-lg',
          'transition-all duration-300 ease-in-out transform-gpu',
          'lg:hover:scale-[1.01] lg:hover:shadow-[2px_6px_2px_0px]',
          'font-work flex flex-col gap-6 tracking-tight',
        )}
      >
        <h2
          class={cn(
            'font-bold text-2xl md:text-3xl text-wrap',
            'bg-orange-300 rounded-md px-1 py-0.5 w-fit',
          )}
        >
          Bites and Meals
        </h2>
        <ul class="text-lg lg:text-xl leading-snug lg:leading-normal">
          <li>
            <span
              class={cn(
                'font-semibold bg-red-300 rounded-md px-[2px]',
                'py-0.5 inline-flex items-center gap-1 whitespace-nowrap',
              )}
            >
              <FaAsterisk className="text-base" />
              Nearby Eateries:&nbsp;
            </span>
            Discover restaurants and food stalls near pandals.
          </li>
          <li>
            <span
              class={cn(
                'font-semibold bg-red-300 rounded-md px-[2px]',
                'py-0.5 inline-flex items-center gap-1 whitespace-nowrap',
              )}
            >
              <FaAsterisk className="text-base" />
              Cuisines and Specialties:&nbsp;
            </span>
            Explore local delicacies and must-try dishes.
          </li>
          <li>
            <span
              class="font-semibold bg-red-300 rounded-md px-[2px] py-0.5 inline-flex items-center gap-1 whitespace-nowrap"
            >
              <FaAsterisk className="text-base" />
              User Reviews:&nbsp;
            </span> Read user ratings and reviews of food places.
          </li>
        </ul>
      </div>
    </section>
    <section
      class={cn(
        'w-full h-full p-8 mt-0 lg:mt-auto text-amber-950 cursor-pointer',
        'bg-primary md:hover:bg-[#ffe5b0]',
        'shadow-[2px_5px_1px_0px] shadow-amber-950',
        'border-4 border-amber-950 rounded-lg',
        'transition-all duration-300 ease-in-out transform-gpu',
        'lg:hover:scale-[1.01] lg:hover:shadow-[2px_6px_2px_0px]',
        'font-work flex flex-col gap-6 tracking-tight',
      )}
    >
      <h2
        class={cn(
          'font-bold text-2xl md:text-3xl text-wrap',
          'bg-orange-300 rounded-md px-1 py-0.5 w-fit',
        )}
      >
        Festive Highlights
      </h2>
      <ul class="text-lg lg:text-xl leading-snug lg:leading-normal flex flex-col gap-3">
        <li>
          <span
            class="font-semibold bg-red-300 rounded-md px-[2px] py-0.5 inline-flex items-center gap-1 whitespace-nowrap"
          >
            <FaAsterisk className="text-base" />
            Cultural Programs:&nbsp;
          </span>
          Stay updated on cultural events happening in various pandals.
        </li>
        <li>
          <span
            class="font-semibold bg-red-300 rounded-md px-[2px] py-0.5 inline-flex items-center gap-1 whitespace-nowrap"
          >
            <FaAsterisk className="text-base" />
            Workshops and Competitions:&nbsp;
          </span>
          Get details of workshops, competitions, and other activities.
        </li>
      </ul>
    </section> -->
        </ul>
      </div>
    </section>
  </main></Layout
>
