---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer';
---

<Layout>
  <main class="flex-1 flex flex-col justify-between">
    <Header />
    <Footer author="Pujo Atlas Kolkata" />
  </main>
</Layout>
