---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <main
    class="flex-1 flex flex-col justify-between bg-primary-background p-8 mx-16 rounded-xl shadow-xl"
  >
    <h1 class="font-work font-semibold text-6xl">Pujo Atlas.</h1>
  </main>
</Layout>
