---
import { Carousel } from '@/components/Carousel';
import { PlaystoreIcon } from '@/icons';
import Layout from '@/layouts/Layout.astro';
import { cn } from '@/libs/utils';
---

<Layout>
  <main
    class={cn(
      'flex-1 flex flex-col gap-6',
      'bg-primary-background p-4 lg:py-12 lg:px-20',
      'rounded-l-xl shadow-l-xl overflow-y-auto',
    )}
  >
    <h1 class="font-work font-semibold text-6xl">Pujo Atlas</h1>
    <p class="font-work">The most advanced pandal hopping experience*</p>
    <div
      class={cn('text-xs py-1 px-4 outline outline-1', 'rounded-xl w-fit flex items-center gap-2')}
    >
      <PlaystoreIcon />
      <span class="font-semibold"> Google Play </span>
      <span>|</span>
      <span> Coming Soon </span>
    </div>
    <div class="w-full">
      <Carousel client:load client:only="react" />
    </div>
  </main>
</Layout>
