---
import { Image } from 'astro:assets';
import Icon from '~/public/icon.png';
---

<header class="flex w-full p-4">
  <nav>
    <a class="font-semibold font-work flex items-center gap-2" href="/">
      <Image src={Icon} alt="Pujo Atlas" class="w-6 h-6 rounded-md overflow-hidden" />
      Pujo Atlas
    </a>
  </nav>
</header>
