---
import { IoMdSettings } from 'react-icons/io';
---

<div class="flex flex-row items-center justify-between p-3 mt-5">
  <div class="flex flex-row gap-x-2.5 justify-center items-center">
    <div class="font-work text-4xl font-medium text-left">Pujo Atlas</div>
    <div class="text-[0.7rem] py-1 px-2 bg-[#909090] bg-opacity-[64%] rounded-full text-center">
      <span class="text-black font-medium">WEB 1.0</span>
    </div>
  </div>
  <button class="settings-button" id="settingsButton">
    <IoMdSettings size="30" className="mb-1" />
  </button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const button = document.getElementById('settingsButton');
    const icon = button?.querySelector('svg');

    button?.addEventListener('click', () => {
      icon?.classList.add('animate-rotate-slight');
      icon?.classList.remove('animate-rotate-slight-reset');

      document.dispatchEvent(new CustomEvent('toggleFlyout'));
    });
    document.addEventListener('toggleFlyoutState', () => {
      icon?.classList.add('animate-rotate-slight-reset');
      icon?.classList.remove('animate-rotate-slight');
    });
  });
</script>
