---
import { IoMdSettings } from 'react-icons/io';
---

<div class="flex flex-row items-center justify-between">
  <h2 class="font-work text-4xl font-medium text-left py-4">Pujo Atlas</h2>
  <IoMdSettings size="30" className="mb-1" />
</div>
