---
import { IoMdSettings } from 'react-icons/io';
---

<div class="flex flex-row items-center justify-between p-3 mt-5">
  <div class="flex flex-row gap-x-2.5 justify-center items-center">
    <div class="font-work text-4xl font-medium text-left">Pujo Atlas</div>
    <div class="text-[0.7rem] py-1 px-2 bg-[#909090] bg-opacity-[64%] rounded-full text-center">
      <span class="text-black font-medium">WEB 1.0</span>
    </div>
  </div>
  <button class="settings-button" id="settingsButton">
    <IoMdSettings size="30" className="mb-1" />
  </button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const button = document.getElementById('settingsButton');
    const icon = button?.querySelector('svg');

    button?.addEventListener('click', () => {
      icon?.classList.add('rotate-slight');
      icon?.classList.remove('rotate-reset');

      document.dispatchEvent(new CustomEvent('toggleFlyout'));
    });
    document.addEventListener('toggleFlyoutState', () => {
      icon?.classList.add('rotate-reset');
      icon?.classList.remove('rotate-slight');
    });
  });
</script>

<style>
  .rotate-slight {
    transform: rotate(-45deg);
    transition: transform 0.3s ease-out;
  }

  .rotate-reset {
    transform: rotate(0deg);
    transition: transform 0.3s ease-out;
  }
</style>
