---
import { cn } from '@/libs/utils';
import { MdHomeFilled, MdOutlineFestival } from 'react-icons/md';
import { PiSirenFill } from 'react-icons/pi';
const currentPath = Astro.url.pathname;
---

<nav class="z-50 flex flex-row items-center justify-around px-0 py-0.5 bg-gray-100/50">
  <a
    href="/app"
    aria-label="home"
    class={cn(currentPath === '/app' && 'bg-white/80', 'px-8 py-1.5 rounded-md')}
  >
    <span class="flex flex-col items-center justify-center gap-y-1">
      <MdHomeFilled className="h-7 w-7" />
      <span class="text-[10px]">Home</span>
    </span>
  </a>
  <a
    href="/app/pandals"
    aria-label="pandals"
    class={cn(
      (currentPath === '/app/pandals' || currentPath === '/app/pandals/') && 'bg-white/80',
      'px-8 py-1.5 rounded-md',
    )}
  >
    <span class="flex flex-col items-center justify-center gap-y-1">
      <MdOutlineFestival className="h-7 w-7" />
      <span class="text-[10px]">Pandals</span>
    </span>
  </a>
  <a
    href="/app/booths"
    aria-label="booths"
    class={cn(currentPath === '/app/booths' && 'bg-white/80', 'px-8 py-1.5 rounded-md')}
  >
    <span class="flex flex-col items-center justify-center gap-y-1">
      <PiSirenFill className="h-7 w-7" />
      <span class="text-[10px]">Booths</span>
    </span>
  </a>
</nav>
