---
import { Carousel } from '@/components/Carousel';
import Layout from '@/layouts/LandingPageLayout.astro';
import { cn } from '@/libs/utils';
import { FaChevronDown } from 'react-icons/fa';
import { IoMdInformationCircle } from 'react-icons/io';
---

<Layout>
  <main
    class={cn(
      'flex-1 flex flex-col gap-3 lg:gap-6 gap-y-3 lg:gap-y-2',
      'bg-primary-background p-3 lg:p-4 lg:py-12 lg:px-20',
      'lg:rounded-l-xl lg:shadow-l-xl overflow-y-auto scroll-smooth !overflow-x-clip',
    )}
  >
    <h1 class="font-alkatra font-semibold text-[55px] lg:text-6xl pt-0 text-center lg:text-left">
      পুজো অ্যাটলাস
    </h1>
    <p
      class="pt-0 lg:pt-4 pb-2 font-noto text-center lg:text-left leading-tight lg:leading-normal text-lg lg:text-lg"
    >
      আপনার প্যান্ডাল পরিক্রমা গাইড,&nbsp;<br class="block lg:hidden" />ভারতের সবচেয়ে মিষ্টি অংশের
      জন্য।
    </p>
    <!-- buttons on mobile screens -->
    <span
      class="flex flex-col gap-y-4 justify-center items-center lg:justify-start lg:items-start pt-2 lg:pt-0"
    >
      <span class="font-sans flex gap-x-3">
        <a class="rounded-md bg-black lg:hidden block" href="#features">
          <span
            class="flex -translate-x-1 -translate-y-1.5 rounded-md border-2 border-black bg-rose-300 p-2 text-base
          active:translate-x-0 active:translate-y-0
          transition-all font-semibold"
          >
            Features&nbsp;<span class="animate-arrow-up-down">&darr;</span>
          </span>
        </a>
        <a class="rounded-md bg-black lg:hidden block" href="/app">
          <span
            class="flex -translate-x-1 -translate-y-1.5 rounded-md border-2 border-black bg-amber-500 p-2 text-base
          active:translate-x-0 active:translate-y-0
          transition-all font-semibold"
          >
            Get Started&nbsp;<span class="animate-arrow-left-right">-&gt;</span>
          </span>
        </a>
      </span>
    </span>
    <!-- info on large screens -->
    <span
      class={cn(
        'cursor-pointer mx-0 mt-0 mb-2 p-2 relative',
        'text-base font-noto font-semibold',
        'hidden lg:flex flex-row justify-start items-center w-fit',
        'shadow-[2px_5px_1px_0px] shadow-stone-950',
        'rounded-md border-2 border-black bg-rose-300 hover:bg-red-300',
      )}
      ><span class="flex justify-center items-center">
        <IoMdInformationCircle size="25" />&nbsp;&nbsp;<span class="mt-1 font-semibold text-base"
          >ওয়েব অ্যাপের অভিজ্ঞতা নিতে মোবাইলে খুলুন!
        </span>
      </span>
      <span id="notif-ping" class="absolute -top-1 -right-1 flex h-3 w-3">
        <span
          class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-90"
        ></span>
        <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500"></span>
      </span>
    </span>
    <!-- carousel -->
    <div>
      <h2
        class="font-noto font-semibold text-3xl md:text-4xl lg:text-4xl pt-2 lg:pt-0 pb-0 lg:pb-2 text-center lg:text-left"
      >
        ট্রেন্ডিং প্যান্ডেল
      </h2>
      <Carousel client:load client:only="react" />
      <a href="#features" aria-label="scroll to features section" class="hidden lg:block">
        <FaChevronDown className="h-8 lg:h-12 w-8 mx-auto motion-safe:animate-bounce" />
      </a>
    </div>
    <!-- feature cards -->
    <span id="features"></span>
    <section
      class={cn(
        'w-full h-full p-8 mt-0 lg:mt-auto text-amber-950 cursor-pointer',
        'bg-primary md:hover:bg-[#ffe5b0]',
        'shadow-[2px_5px_1px_0px] shadow-amber-950',
        'border-4 border-amber-950 rounded-lg',
        'transition-all duration-300 ease-in-out transform-gpu',
        'lg:hover:scale-[1.01] lg:hover:shadow-[2px_6px_2px_0px]',
        'font-noto flex flex-col gap-6 tracking-tight',
      )}
    >
      <h2
        class={cn(
          'font-bold !font-noto text-2xl md:text-3xl text-wrap',
          'bg-orange-300 rounded-md px-1 py-0.5 pt-2 w-fit',
        )}
      >
        পুজো অ্যাটলাস কি?
      </h2>
      <p class="!font-noto leading-snug text-lg lg:text-xl lg:leading-normal">
        আশ্বিনের শারদপ্রাতে বেজে উঠেছে আলোক-মঞ্জীর; প্রকৃতির অন্তরাকাশে জাগরিত জ্যোতির্ময়ী জগন্মাতার
        আগমন বার্তা। তা এই বার্তায় সাড়া দিতে পুজোর প্ল্যান তৈরি তো? প্ল্যান করতে গিয়ে পুজোর
        সমুদ্রে হাবুডুবু খাচ্ছেন? আপনার মুস্কিল আসানে এখন হাজির আমাদের <b
          >&quot;পুজো অ্যাটলাস&quot;</b
        >: আপনার পুজো ঘোরার ডিজিটাল <b>সারথি</b>। কলকাতার প্রতিটি <b>প্যান্ডেলের</b> খুঁটিনাটি থেকে শুরু
        করে, <b>ট্রাফিক আপডেট</b>,
        <b>জরুরি পরিষেবা</b> - সবই এক জায়গায়। এই শারদীয়া হোক ঝক্কিহীন আমাদের ওপেন সোর্স প্ল্যাটফর্ম
        <b>&quot;পুজো অ্যাটলাস&quot;</b>-এর সাথে।
      </p>
    </section>

    <section class="flex flex-col lg:flex-row gap-4">
      <div
        class={cn(
          'w-full h-full p-8 text-amber-950 cursor-pointer',
          'bg-primary lg:hover:bg-[#ffe5b0]',
          'shadow-[2px_5px_1px_0px] shadow-amber-950',
          'border-4 border-amber-950 rounded-lg',
          'transition-all duration-300 ease-in-out transform-gpu',
          'lg:hover:scale-[1.01] lg:hover:shadow-[2px_6px_2px_0px]',
          'font-work flex flex-col gap-6 tracking-tight',
        )}
      >
        <h2
          class={cn(
            'font-bold text-2xl md:text-3xl text-wrap',
            'bg-orange-300 rounded-md px-1 py-0.5 w-fit !font-noto',
          )}
        >
          বৈশিষ্ট্য
        </h2>
        <ul
          class="text-lg lg:text-xl leading-snug lg:leading-normal flex flex-col gap-3 !font-noto"
        >
          <li>
            <span class={cn('rounded-md px-[2px]', 'py-0.5 items-center gap-1')}>
              ১. নিকটবর্তী প্যান্ডেল:- মা তো চলে এলেন, আপনিও পা বাড়ান পুজোর দিকে। আপনার আশেপাশের
              সমস্ত পুজো এখন সরাসরি লিংকড গুগল ম্যাপসে; সবচেয়ে সহজ রাস্তায় প্যান্ডেল হপিং-এ আপনিও
              এবার হয়ে উঠুন কলকাতার কলম্বাস!
            </span>
            <li>
              <span class={cn('rounded-md px-[2px]', 'py-0.5 items-center gap-1')}>
                ২. ট্রেন্ডিং প্যান্ডেল:- পুজোর ঘোরাঘুরির প্ল্যানে ফোমোর ভয়? বাকেট লিস্টেই বা কি
                রাখবেন? এই সমস্ত মাথাব্যথার সমাধান আমাদের &quot;রিয়েল টাইম&quot; আপডেট ফিচার,জেনে
                নিন আবেগের পুজোর সবচেয়ে আলোচিত প্যান্ডেল কোনগুলো।
              </span>
            </li>
            <li>
              <span class={cn('rounded-md px-[2px]', 'py-0.5 items-center gap-1')}>
                ৩. হঠাৎ করে যদি অসুস্থ হয়ে পড়লেন বা মানিব্যাগটাই খুইয়ে বসলেন? নিকটতম থানার নম্বর
                থেকে হাসপাতাল অথবা অ্যাম্বুলেন্স, এক ক্লিকেই এখন সমস্ত এমার্জেন্সি নম্বর, &quot;রেডি
                টু কল&quot;, আপনার ডায়ালারে।
              </span>
            </li>
            <li>
              <span class={cn('rounded-md px-[2px]', 'py-0.5 items-center gap-1')}>
                ৪. শেষ মেট্রো ধরতে হবে? একস্ট্রা মেট্রো কখন কোন লাইনে খুঁজে পাচ্ছেন না? নাকি ট্রেন
                রুটের টাইমটেবলটা ভুলে গেছেন? সময়সূচি দেখে নিন এক ঝলকে।
              </span>
            </li>
            <li>
              <span class={cn('rounded-md px-[2px]', 'py-0.5 items-center gap-1')}>
                ৫. একনজরে দেখতে চান কলকাতার বুকে পুজোর জীবন্ত নকশা?চলে আসুন আমাদের ‘ইন্টিগ্ৰেটেড ও
                ইন্টারেক্টিভ ম্যাপস্’ ফিচারে। টালা থেকে টালিগঞ্জ,কাঁকুরগাছি থেকে কৈখালী- সবটাই আপনার
                হাতের মুঠোয়।- সব যেন আপনার হাতের মুঠোয়।
              </span>
            </li>
            <li>
              <span class={cn('rounded-md px-[2px]', 'py-0.5 items-center gap-1')}>
                ৬. পুজোর ভিড়ে হারিয়ে যাওয়ার ভয় এখন আর নেই, উত্তর কলকাতার কুমারটুলি থেকে দক্ষিণের
                নেতাজি নগরের সমস্ত পুজো দেখুন ট্রাফিক জ্যাম এড়িয়ে, সবচেয়ে কম সময়ে আমাদের
                নেভিগেশন ফিচারের সাহায্যে।</span
              >
            </li>
            <li>
              <span class={cn('rounded-md px-[2px]', 'py-0.5 items-center gap-1')}>
                ৭.&quot;খুঁজছি তারে আমি অনন্ত কাল&quot; - আর খুঁজতে হবে না। শুধু প্যান্ডেলের নাম
                লিখুন, আর পেয়ে যান সব তথ্য;প্রত্যেক লোকেশন ডেটা ও ‘ডাইরেক্ট’ গুগল ম্যাপস্ লিঙ্কের
                সিস্টেমে আস্থা রাখুন আর পৌঁছে যান আপনার প্রিয় প্যান্ডেলে।
              </span>
            </li>
          </li>
        </ul>
      </div>
    </section>
  </main>
</Layout>
