---
import { TeamMembers } from '@/components/Members';
import { Socials } from '@/constants/socials';
import Layout from '@/layouts/LandingPageLayout.astro';
import { cn } from '@/libs/utils';
---

<Layout title="Team | Pujo Atlas" description="Meet the team that made this project possible">
  <main
    class={cn(
      'flex-1 flex flex-col gap-3 lg:gap-6 gap-y-3 lg:gap-y-10 !overflow-x-clip',
      'bg-primary-background p-3 lg:p-4 lg:py-12 lg:px-20',
      'lg:rounded-l-xl lg:shadow-l-xl overflow-y-auto scroll-smooth',
    )}
  >
    <h1 class="font-work font-semibold text-[55px] lg:text-6xl pt-0 text-center lg:text-left">
      Meet the Team
    </h1>
    <section id="who-are-we" class="flex flex-col gap-4">
      <h2 class="font-work font-semibold text-4xl">Who are we?</h2>
      <p>
        We are a group of <b>Durga Puja</b> enthusiasts who wanted to make the experience of Pandal Hopping
        in <b>Kolkata</b> more enjoyable and accessible to everyone. <br />
        We are a team of <b>developers</b>, <b>designers</b>, <b>researchers</b> and <b
          >content creators</b
        >
        who have come together to create this open source project as conceptualized initially by the
        moderators of subreddit <a
          href={Socials.Reddit}
          class="font-semibold font-work border-b-2 border-dashed border-black">r/kolkata</a
        >.
      </p>
    </section>
    <section id="members" class="flex flex-col gap-4">
      <TeamMembers client:load client:only="react" />
    </section>
  </main>
</Layout>
