---
import Layout from '@/layouts/WebAppLayout.astro';
import { cn } from '@/libs/utils';
import { FaSquarePlus } from 'react-icons/fa6';
import { MdFireTruck } from 'react-icons/md';
import { MdLocalPolice } from 'react-icons/md';
import { IoMdSettings } from 'react-icons/io';
import { IoSearch } from 'react-icons/io5';
import { FaLocationArrow } from 'react-icons/fa';
import { FaAngleRight } from 'react-icons/fa';
---

<Layout>
  <main
    class={cn(
      'flex-1 flex flex-col gap-3 lg:gap-6 gap-y-3 lg:gap-y-2',
      'bg-secondary-background p-3 lg:p-4 lg:py-12 lg:px-20',
      'lg:rounded-l-xl lg:shadow-l-xl overflow-y-auto scroll-smooth',
    )}
  >
    <div class="flex flex-row items-center justify-between">
      <h2 class="font-work text-4xl font-medium text-left py-4">Pujo Atlas</h2>
      <IoMdSettings size="30" className="mb-1" />
    </div>

    <div
      id="searchbar"
      class="rounded-3xl mb-2 pl-2 flex flex-row items-center justify-start bg-[#e6dfcf]"
    >
      <IoSearch size="20" />
      <input
        type="text"
        id="search"
        name="search"
        placeholder="Search for pandals"
        class="w-full px-3 py-3 text-sm font-sans bg-[#e6dfcf] font-normal rounded-3xl focus:outline-none text0black"
      />
    </div>

    <div class="rounded-2xl bg-[#ede3ce] h-56 p-2 mt-5">
      <div class="flex text-center space-x-2 items-center">
        <div>
          <FaLocationArrow />
        </div>
        <div class="text-xl">Critical Services</div>
      </div>
      <div class="flex space-x-2 justify-between mt-4">
        <div class="flex flex-col items-center justify-center">
          <div class="rounded-2xl bg-[#fcfcfa] p-9 text-center items-center">
            <FaSquarePlus size={'4rem'} />
          </div>
          <span class="m-2">Ambulance</span>
        </div>
        <div class="flex flex-col items-center justify-center">
          <div class="rounded-2xl bg-[#fcfcfa] p-9 text-center">
            <MdFireTruck size={'4rem'} />
          </div>
          <span class="m-2">Fire</span>
        </div>
        <div class="flex flex-col items-center justify-center">
          <div class="rounded-2xl bg-[#fcfcfa] p-9 text-center">
            <MdLocalPolice size={'4rem'} />
          </div>
          <span class="m-2">Police</span>
        </div>
      </div>
    </div>

    <div class="pt-5 text-2xl scroll-auto">
      <div class="">Other contacts</div>
      <br />
      <div class="flex justify-between p-5">
        <div>Text</div>
        <div><FaAngleRight /></div>
      </div>
      <hr class="opacity-30 bg-[#000000]" />
      <div class="flex justify-between p-5">
        <div>Text</div>
        <div><FaAngleRight /></div>
      </div>
      <hr class="opacity-30 bg-[#000000]" />
      <div class="flex justify-between p-5">
        <div>Text</div>
        <div><FaAngleRight /></div>
      </div>
      <hr class="opacity-30 bg-[#000000]" />
    </div>
  </main>
</Layout>
