---
import AppHeader from '@/components/app/shared/AppHeader.astro';
import SearchBar from '@/components/app/shared/SearchBar.astro';
import Layout from '@/layouts/WebAppLayout.astro';
import { cn } from '@/libs/utils';
---

<Layout>
  <main
    class={cn(
      'flex-1 flex flex-col gap-3 lg:gap-6 gap-y-3 lg:gap-y-2',
      'bg-secondary-background p-3 lg:p-4 lg:py-12 lg:px-20',
      'lg:rounded-l-xl lg:shadow-l-xl overflow-y-auto scroll-smooth',
    )}
  >
    <AppHeader />
    <SearchBar />
    Web App Home Screen EN <br /><br />
    Web App Home Screen EN <br /><br />
    Web App Home Screen EN <br /><br />
    Web App Home Screen EN <br /><br />
    Web App Home Screen EN <br /><br />
    Web App Home Screen EN <br /><br />
    Web App Home Screen EN <br /><br />
    Web App Home Screen EN <br /><br />
    Web App Home Screen EN <br /><br />
    Web App Home Screen EN <br /><br />
    Web App Home Screen EN <br /><br />
    Web App Home Screen EN <br /><br />
  </main>
</Layout>
