---
import { GoogleMaps, type Pandal } from '@/components/app/map/GoogleMap';
import Layout from '@/layouts/WebAppLayout.astro';
import { cn } from '@/libs/utils';
const API_KEY = import.meta.env.GOOGLE_MAPS_API_KEY;
const pandals: Pandal[] = [
  { id: 1, name: 'Pandal 1', lat: 22.473695, lng: 88.362758 },
  { id: 2, name: 'Pandal 2', lat: 22.472938, lng: 88.366766 },
  { id: 3, name: 'Pandal 3', lat: 22.473213, lng: 88.362905 },
  { id: 4, name: 'Pandal 4', lat: 22.475105, lng: 88.365669 },
  { id: 5, name: 'Pandal 5', lat: 22.473962, lng: 88.364139 },
  { id: 6, name: 'Pandal 6', lat: 22.472437, lng: 88.362174 },
  { id: 7, name: 'Pandal 7', lat: 22.476384, lng: 88.366437 },
  { id: 8, name: 'Pandal 8', lat: 22.473054, lng: 88.364612 },
  { id: 9, name: 'Pandal 9', lat: 22.476547, lng: 88.365911 },
  { id: 10, name: 'Pandal 10', lat: 22.474098, lng: 88.366073 },
];
---

<Layout>
  <main
    class={cn(
      'flex-1 flex flex-col gap-3 lg:gap-6 gap-y-3 lg:gap-y-2',
      'bg-primary-background p-3 lg:p-4 lg:py-12 lg:px-20',
      'lg:rounded-l-xl lg:shadow-l-xl overflow-y-auto scroll-smooth',
    )}
  >
    Web App Home Screen EN <br /><br />
    <div class="p-1">
      <GoogleMaps apiKey={API_KEY} pandals={pandals} client:load client:only="react" />
    </div>
  </main>
</Layout>
