---
import { MapComponent } from '@/components/app/map/MapComponent';
import Layout from '@/layouts/WebAppLayout.astro';
import { cn } from '@/libs/utils';
const API_KEY = import.meta.env.GOOGLE_MAPS_API_KEY;
---

<Layout>
  <main
    class={cn(
      'flex-1 flex flex-col gap-3 lg:gap-6 gap-y-3 lg:gap-y-2',
      'bg-primary-background p-3 lg:p-4 lg:py-12 lg:px-20',
      'lg:rounded-l-xl lg:shadow-l-xl overflow-y-auto scroll-smooth',
    )}
  >
    Web App Home Screen EN <br /><br />

    Click on &quot;View Larger Map&quot; to navigate

    <MapComponent apiKey={API_KEY} client:load client:only="react" />

    <!-- <iframe
      width="auto"
      height="500px"
      loading="eager"
      allowfullscreen
      referrerpolicy="no-referrer-when-downgrade"
      src=`https://www.google.com/maps/embed/v1/place?key=${API_KEY}&q=Naktala+Udayan+Sangha+Club/@22.4747061,88.3642162`
    >
    </iframe> -->
  </main>
</Layout>
