---
import SearchBar from '@/components/app/shared/SearchBar.astro';
import Card from '@/components/app/shared/Card';
import Layout from '@/layouts/WebAppLayout.astro';
import { cn } from '@/libs/utils';
---

<Layout title="Home | Pujo Atlas">
  <main
    class={cn(
      'flex-1 flex flex-col gap-3 lg:gap-6 gap-y-3 lg:gap-y-2',
      'bg-secondary-background p-3 lg:p-4 lg:py-12 lg:px-20',
      'lg:rounded-l-xl lg:shadow-l-xl overflow-y-auto scroll-smooth',
    )}
  >
    <SearchBar />
    <Card client:load />
  </main>
</Layout>
