---
import Cards from '@/components/app/home/Cards/Cards';
import SearchBar from '@/components/app/shared/SearchBar.astro';
import { FETCH_ALL_PANDALS } from '@/constants/location';
import Layout from '@/layouts/WebAppLayout.astro';
import type { Location } from '@/components/app/map/types';
import { request } from '@/libs/request';
import { cn } from '@/libs/utils';

type Result = {
  result: Location[];
};

const { data, error } = await request.get<Result>(FETCH_ALL_PANDALS);
const pandals = data?.result || [];
if (error || data?.result === undefined) {
  return;
}
---

<Layout title="Home | Pujo Atlas">
  <main
    class={cn(
      'flex-1 flex flex-col gap-3 lg:gap-6 gap-y-3 lg:gap-y-2',
      'bg-secondary-background p-3 lg:p-4 lg:py-12 lg:px-20',
      'lg:rounded-l-xl lg:shadow-l-xl overflow-y-auto scroll-smooth',
    )}
  >
    <SearchBar />
    <Cards pandals={pandals} client:load client:only="react" />
  </main>
</Layout>
