---
import { GoogleMaps } from '@/components/app/map/GoogleMap';
import { MdOutlineFestival } from 'react-icons/md';
import { IoSearch } from 'react-icons/io5';
import { IoMdSettings } from 'react-icons/io';
import Layout from '@/layouts/WebAppLayout.astro';
import { cn } from '@/libs/utils';
const API_KEY = import.meta.env.GOOGLE_MAPS_API_KEY as string;
const pandals = [
  { id: 1, name: 'Lorem ipsum dolor', lat: 22.473695, lng: 88.362758 },
  { id: 2, name: 'Sit amet consectetur', lat: 22.472938, lng: 88.366766 },
  { id: 3, name: 'Adipiscing elit sed', lat: 22.473213, lng: 88.362905 },
  { id: 4, name: 'Eiusmod tempor incididunt', lat: 22.475105, lng: 88.365669 },
  { id: 5, name: 'Ut labore et', lat: 22.473962, lng: 88.364139 },
  { id: 6, name: 'Dolore magna aliqua', lat: 22.472437, lng: 88.362174 },
  { id: 7, name: 'Enim ad minim', lat: 22.476384, lng: 88.366437 },
  { id: 8, name: 'Veniam quis nostrud', lat: 22.473054, lng: 88.364612 },
  { id: 9, name: 'Exercitation ullamco laboris', lat: 22.476547, lng: 88.365911 },
  { id: 10, name: 'Nisi ut aliquip', lat: 22.474098, lng: 88.366073 },
];
---

<Layout>
  <main
    class={cn(
      'flex-1 flex flex-col gap-3 lg:gap-6 gap-y-3 lg:gap-y-2',
      'bg-secondary-background p-3 lg:p-4 lg:py-12 lg:px-20',
      'lg:rounded-l-xl lg:shadow-l-xl overflow-y-auto scroll-smooth',
    )}
  >
    <div class="flex flex-row items-center justify-between">
      <h2 class="font-work text-4xl font-medium text-left py-4">Pujo Atlas</h2>
      <IoMdSettings size="30" className="mb-1" />
    </div>

    <div
      id="searchbar"
      class="rounded-3xl mb-2 pl-2 flex flex-row items-center justify-start bg-[#e6dfcf]"
    >
      <IoSearch size="25" />
      <input
        type="text"
        id="search"
        name="search"
        placeholder="Search for pandals"
        class="w-full px-3 py-3 text-sm font-sans bg-[#e6dfcf] font-normal rounded-3xl focus:outline-none text0black"
      />
    </div>

    <div
      class="flex flex-col justify-center px-1 py-2 bg-[#e6dfcf] rounded-[22px] drop-shadow-lg shadow-black"
    >
      <span class="flex flex-row items-center justify-start"
        >&nbsp;<MdOutlineFestival size="20" className="mb-1" />&nbsp;<span
          class="font-sans font-normal text-base mb-0.5">Pandal map</span
        ></span
      >
      <GoogleMaps apiKey={API_KEY} pandals={pandals} client:load client:only="react" />
    </div>
  </main>
</Layout>
