---
import { GoogleMaps } from '@/components/app/map/GoogleMap';
import { MdOutlineFestival } from 'react-icons/md';
import Layout from '@/layouts/WebAppLayout.astro';
import { cn } from '@/libs/utils';
import { LiaExternalLinkAltSolid } from 'react-icons/lia';
import { Socials } from '@/constants';
import SearchBar from '@/components/app/shared/Search/SearchBar.astro';

import { PANDAL_MARKER_ICON } from '@/constants/location';

const API_KEY = import.meta.env.GOOGLE_MAPS_API_KEY as string;
---

<Layout>
  <main
    class={cn(
      'flex-1 flex flex-col gap-3 lg:gap-6 gap-y-3 lg:gap-y-2',
      'bg-secondary-background p-3 lg:p-4 lg:py-12 lg:px-20',
      'lg:rounded-l-xl lg:shadow-l-xl overflow-y-auto scroll-smooth',
      'px-0 pb-0 h-screen',
    )}
  >
    <div class="px-3">
      <SearchBar />
    </div>

    <div
      class="flex flex-col justify-center px-2 py-2 rounded-t-3xl bg-[#e6dfcf] drop-shadow-lg shadow-black"
    >
      <span class="flex flex-row items-center justify-start pb-1">
        &nbsp;<MdOutlineFestival size="20" className="mb-1" />&nbsp;
        <span class="font-sans font-normal text-base mb-0.5">Pandal map</span>
      </span>
      <GoogleMaps apiKey={API_KEY} icon={PANDAL_MARKER_ICON} client:load client:only="react" />
    </div>
    <a
      href={Socials.DataIngestionForm}
      title="Data Ingestion Form"
      aria-label="Data Ingestion Form"
      target="_blank"
      rel="noreferrer"
      class="flex flex-col text-lg w-full"
    >
      <div class="flex flex-row items-center justify-center w-full text-xs">
        <span class="font-medium font-work border-b-2 border-dashed border-black"
          >Like what we do? Contribute to our map data</span
        >
        <LiaExternalLinkAltSolid size="14" />
      </div>
    </a>
  </main>
</Layout>
