---
import '@fontsource-variable/inter/wght.css';
import '@fontsource-variable/work-sans';

import Header from '@/components/shared/Header.astro';
import Footer from '@/components/shared/Footer.astro';
import Navbar from '@/components/shared/Navbar';
import { cn } from '@/libs/utils';
import { ViewTransitions } from 'astro:transitions';

const currentPath = Astro.url.pathname;

const {
  title = 'Pujo Atlas',
  description = 'Welcome to Pujo Atlas - your ultimate guide for Pandal Hopping during Durga Puja in Kolkata!',
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta http-equiv="refresh" content="0;url=/en/" />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body
    class={cn(
      'bg-secondary-background',
      'text-primary-foreground [&_*]:text-primary-foreground',
      'min-w-screen min-h-screen flex flex-col',
    )}
  >
    <Header />
    <div class="flex flex-1">
      <aside class="grid place-items-center">
        <Navbar path={currentPath} />
      </aside>
      <slot />
    </div>
    <Footer />
  </body>
</html>
